.icon:hover {
    cursor: pointer;
}

#filterTable, #resultHandler {
    width: 460px;
    margin-top: 50px;
}

#filterTable p, #resultHandler p{
    text-align: left;
    font-size: 30pt;
    margin: 10px 0px;
    font-family: Helvetica; 
}

#filterTable table {
    width: 100%;
    font-family: Helvetica;
    font-size: 13px;
    border-collapse: collapse;
    border: 1px solid #99bbe8;
    border-radius: 2px;
}

/* wiersz nagłowka */
#filterTable table thead tr th {
    padding: 5px; 
    color: #15428b;
    border-bottom: 1px solid gray;  
    background: url(../img/white-top-bottom.gif) repeat-x 0px -1px;
}

/* wiersz stopki */
#filterTable table tfoot tr td { 
    text-align: left;
    padding: 5px; 
    /* background-color: rgb(208, 222, 240); */
}

#filterTable table tr th:nth-child(1) { width: 10px }
#filterTable table tr th:nth-child(2) { width: 35% }
#filterTable table tr th:nth-child(3) { width: 20% }
#filterTable table tr td { text-align: center; padding: 5px 0px 5px 0px; }

#filterTable table input, #filterTable table select, #filterTable table option {
    width: 90%;
    height: 22px;
    margin: 2px auto;
    
    text-align: center;
    font-family: Helvetica;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 2px;
    vertical-align: middle;
}

#filterTable table input[type=date] {
    height: 18px;
}

#filterTable .btnAddRow, #filterTable .btnDelete, #filterTable .btnAccept {
    margin: 0px 5px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 2px;
}

#filterTable .btnAccept {
    width: auto;
    padding-left: 21px;
    background: white url(../img/ico_accept.png) no-repeat 2px center;
    border-color: white;
}

#filterTable .btnAddRow {
    width: auto;
    padding-left: 21px;
    background: white url(../img/ico_add.png) no-repeat 2px center;
    border-color: white;
}
    #filterTable .btnAddRow:hover, 
    #filterTable .btnAccept:hover {
        border-color: gray;
    }

#filterTable .btnDelete {
    display: block;
    width: 20px;
    background: url(../img/ico_delete.png) no-repeat 2px center;
}

/* ========== result ========= */
#result table {
    border: 1px solid grey;
    border-collapse: collapse;
    font-family: Helvetica;
    width: 100%;
}

    #result td, #result th {
        border: 1px solid grey;
        text-align: center;
        padding: 5px;
    }